[jumbotron disclaimer]
jumbotron = "footer-funding"
background = "transperant"
templates = "template3"
description_limit = 0
==
<div class="container-fluid border-box dark-background">

    <div class="container">

        <div class="row">
            <div class="col-md-2 col-xs-12 start-md center-xs">
                <div class="footer-logo-container">
                    <a href="{{'home'|page}}"><img src="{{ 'SCTT logo_White.svg'|media }}" alt=""></a>
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-sm col-xs-12">
                    <img src="{{'FundedbytheEU_RGB.svg'|media }}"/>
                </div>
                <div class="funding-text">
                    {% component 'disclaimer' %}
                </div>

            </div>
            <div class="col-md-5 col-xs-12">
                <img src="{{'ERA_we-are.jpg'|media}}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-12 subscriber  start-md center-xs">
                Subscribe to our newsletter
                <a href="{{this.theme.subscribe}}" target="_blank" class="">Subscribe</a>
            </div>
            <div class="col-md-8 col-xs-12 menu_and_powered start-md center-xs">

            </div>
        </div>


        <div class="row between-xs privacy-row">
            <div class="privacy-link start-xs">
                <a href="/coming-soon">Privacy Policy</a>
                <a href="/coming-soon">Legal notice</a>
            </div>
            <div class="powered-by start-md start-xs">
                <span>Designed and powered by <a href="https://pensoft.net/" target="_blank">
                    <img class="pensoft_logo" src="{{ 'assets/images/pensoft-logo.svg'|theme }}" /></a>
                </span>
            </div>
        </div>


    </div>
</div>
