
.partners_list{
    display: flex!important;
    justify-content: space-between;
    width: 100%;
    .breakpoint-large-down({
        justify-content: center;
    });
}

.partners{

    .tabs{
        width: 100%;
        display: flex;
        justify-content: end;

        a{
            width: fit-content;
            cursor: pointer;
            color: @black-color;
            padding-left: 40px;
            float: left;

        }


    }
}
.partner-item{
    width: calc(~'100% - 66px');
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 33px;
    background: @secondary-color;

    .logo_and_link{
        min-height: 125px;
    }

    .partner_title{
        font-size: 20px;
        line-height: 32px;
        a{
            color: @link-color;
        }
    }
    .partner_logo{
        text-align: center;
        img{
            //width: 120px;
            //height: auto;
            //max-height: 100px;
            //object-fit: contain;
            max-height: 112px;
            object-fit: contain;
            /* max-width: 120px; */
            height: auto;
            width: 100%;
            margin: 0 auto;
            //.breakpoint-large-down({
            //    width: auto;
            //    max-width: 100%;
            //});
        }

    }

    .partner_title{
        h4{
            color: #625143;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 23px; /* 115% */
            letter-spacing: -0.6px;
            a{
                color: #625143;
                text-decoration: underline;
                white-space: nowrap;
            }
        }
    }

    .partner_description{
        padding-top: 20px;
        position: relative;

    }

    .read-more-expand{
        color: @yellow-color;
        position: relative;
        text-transform: uppercase;
        max-width: 135px;
        cursor: pointer;
        &:after{
            position: absolute;
            right: -16px;
            top: 1px;
            width: 17px;
            height: 17px;
            content: '';
            transition: all 0.3s ease-in-out;
            background: url("../../assets/images/yellow-arrow-down.svg") right center no-repeat;
            background-size: 13px;

        }
        &:hover{
            &:after{
                transform:rotate(-45deg);
            }
        }
    }

}



