<div class="ongoing-events-sidebar">
    {% for entry in exhibitions %}
    <a href="/{{currentLang}}/events/{{entry.slug}}" class="ongoing-card">
        <div class="card-image">
            {% if entry.cover_image %}
            <img src="{{entry.cover_image.thumb(404, 204,{'mode':'crop'})}}" alt="{{ entry.title }}">
            {% else %}
            <img src="{{'sctt-general.png'|media}}" alt="{{ entry.title }}">
            {% endif %}
        </div>
        <div class="card-overlay">
            <div class="event-date-badge">
                {% if entry.start == '2026-09-25T09:07:29' %}
                    {{ 'AUTUMN'|_ }} {{ entry.start|date("Y") }}
                {% elseif entry.start|date("n") >= 9 and entry.start|date("n") <= 11 %}
                    {{ 'AUTUMN'|_ }} {{ entry.start|date("Y") }}
                {% elseif entry.start|date("n") >= 3 and entry.start|date("n") <= 5 %}
                    {{ 'SPRING'|_ }} {{ entry.start|date("Y") }}
                {% elseif entry.start|date("n") >= 6 and entry.start|date("n") <= 8 %}
                    {{ 'SUMMER'|_ }} {{ entry.start|date("Y") }}
                {% else %}
                    {{ 'WINTER'|_ }} {{ entry.start|date("Y") }}
                {% endif %}
            </div>
            <h4>{{ entry.title|raw }}</h4>
        </div>
    </a>
    {% endfor %}
</div>
