url = "/engagement"
layout = "default"
title = "Engagement"

[siteSearchInclude]

[jumbotron engagement]
jumbotron = "engagement"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron cocreation]
jumbotron = "co-creation"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron joint]
jumbotron = "joint-citizen-science"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron ScienceBattle]
jumbotron = "science-battle"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron MutualLearning]
jumbotron = "mutual-learning"
background = "transperant"
templates = "template3"
description_limit = 0

==
<?php
use Pensoft\Calendar\Models\Entry;

function onStart()
{
    // Mutual Learning events shown in the MutualLearning tab
    $this['museums_event'] = Entry::find(1310);
    $this['online_workshop_event'] = Entry::find(1311);
    $this['entry'] = Entry::find(1315);
}
?>
==
{% component 'siteSearchInclude' %}

<div class="engagement">
    <div class="container700">
        <div class="tabs">
            <a class="" href="#Engagement">{{ 'Engagement'|_ }}</a>
            <a class="" href="#Co-Creation">{{ 'Co-Creation'|_ }}</a>
            <a class="" href="#JointCitizenScience">{{ 'Joint Citizen Science'|_ }}</a>
            <a class="" href="#ScienceBattle">{{ 'Science Battle'|_ }}</a>
            <a class="" href="#MutualLearning">{{ 'Mutual Learning'|_ }}</a>
        </div>
    </div>

    <div class="container700">
        <div class="row" id="Engagement">
            {% component 'engagement' %}
        </div>

        <div class="row" id="Co-Creation">
        {% component 'cocreation' %}
        </div>

        <div class="row" id="JointCitizenScience">
            {% component 'joint' %}
        </div>

        <div class="row" id="ScienceBattle">
            {% component 'ScienceBattle' %}
        </div>
        <div class="row" id="MutualLearning">
            {% component 'MutualLearning' %}
            <div class="short-term-card">
                <div class="card-image">
                    <a href="/{{currentLang}}/events/{{entry.slug}}">
                        {% if entry.cover_image %}
                        <img src="{{entry.cover_image|crop_image|resize(350, 204, { mode: 'crop' })}}" alt="{{ entry.title }}">
                        {% else %}
                        <img src="{{'sctt-general.png'|media}}" alt="{{ entry.title }}">
                        {% endif %}
                    </a>
                </div>
                <div class="card-content">
                    <div class="event-date">
                        {% if entry.start == '2026-09-25T09:07:29' %} autumn {{entry.start|date("Y")}} {% else %}
                        {% if entry.start|date("Y") == entry.end|date("Y") %}
                        {% if entry.start|date("M") == entry.end|date("M") %}
                        {% if entry.start|date("j") == entry.end|date("j") %}
                        {{entry.start|date("j M Y")}}
                        {% else %}
                        {{entry.start|date("j")}} - {{entry.end|date("j M Y")}}
                        {% endif %}
                        {% else %}
                        {{entry.start|date("j M")}} - {{entry.end|date("j M Y")}}
                        {% endif %}
                        {% else %}
                        {{entry.start|date("j M Y")}} - {{entry.end|date("j M Y")}}
                        {% endif %}
                        {% endif %}{% if entry.start|date("H:i") != '00:00' %}, {{entry.start|date("H:i")}}{% if entry.end|date("H:i") != entry.start|date("H:i")%} - {{entry.end|date("H:i")}}{% endif %}{% endif %}
                    </div>
                    <h3><a href="/{{currentLang}}/events/{{entry.slug}}">{{ entry.title|raw }}</a></h3>
                    {% if entry.institution %}
                    <div class="event-organiser">
                        <span class="label">{{ 'ORGANISED BY:'|_ }}</span>
                        <span class="value">{{ entry.institution }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
