url = "/events/:slug?|[a-zA-Z\-0-9]"
layout = "default"
title = "Events"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[calendar]
default = "true"
limit = "null"
category = "null"
language = "en"
redirect_to_detailed_page = "false"
default_view = "dayGridMonth"

[Filter]
==
<?php
use Pensoft\Calendar\Models\Entry;
use Carbon\Carbon;
use Pensoft\Calendar\Models\Category;
use RainLab\Location\Models\Country;

use Spatie\GoogleCalendar\Event;

function onStart(){

    if($this->param('slug')){
        $this['entry'] =  Entry::select(
        '*',
        'title',
        'place',
        'description',
        'url',

        DB::raw("to_char(\"start\", 'DD') as start_day"),
        DB::raw("to_char(\"start\", 'YYYY') as start_year"),
        DB::raw("to_char(\"end\", 'DD') as end_day"),
        DB::raw("to_char(\"end\", 'YYYY') as end_year"),
        DB::raw("to_char(\"start\", 'month') as start_month"),
        DB::raw("to_char(\"end\", 'month') as end_month"),
        DB::raw("
        \"end\" is not null as has_end
        ")


        )->where('slug', $this->param('slug'))->first();

        \BennoThommo\Meta\Meta::set('twitter:card', 'summary_large_image');
        \BennoThommo\Meta\Meta::set('twitter:title', $this['entry']['title']);
        \BennoThommo\Meta\Meta::set('twitter:description', str_limit(Html::strip($this['entry']['description']), 255));
        \BennoThommo\Meta\Meta::set('og:title', $this['entry']['title']);
        \BennoThommo\Meta\Meta::set('og:description', str_limit(Html::strip($this['entry']['description']), 255) );
        \BennoThommo\Meta\Meta::set('og:type', 'article');
        \BennoThommo\Meta\Meta::set('og:url', $this->pageUrl(''));
        if($this['entry']['cover_image']){
        \BennoThommo\Meta\Meta::set('twitter:image', $this['entry']['cover_image']->getThumb(600, null, ['mode' => 'auto']));


        \BennoThommo\Meta\Meta::set('og:image', $this['entry']['cover_image']->getThumb(600, 314, ['mode' => 'crop']));
        \BennoThommo\Meta\Meta::set('og:image:width', 600);
        \BennoThommo\Meta\Meta::set('og:image:height', 314);
        }

}
$this['page_url'] = $this->pageUrl('');
$this['google_calendar_events'] = Event::get();
//$this['google_calendar_events_test'] = Event::get(null, null, [], getenv('GOOGLE_CALENDAR_TEST_ID'));


// Long-term exhibitions (>= 100 days duration) - shown as "Ongoing Events" in sidebar
$exhibitions = Entry::where('is_internal', false)
                    ->orderBy('start', 'asc')
                    ->get()
                    ->filter(function ($item) {
                        return Carbon::parse($item->start)->diffInDays(Carbon::parse($item->end)) >= 100;
                    })
                ->take(4);

$this['exhibitions'] = $exhibitions;

// Timeline highlights for top section (same as home page)
$this['timeline_highlights'] = Entry::where('end', '>', Carbon::now())
    ->where('show_on_timeline', true)
    ->where('is_internal', false)
    ->orderBy('start', 'asc')
    ->take(3)
    ->get();

// Highlights (upcoming, exclude exhibitions)
$exhibitionIds = $exhibitions->pluck('id')->toArray();

$highlights = Entry::where('end', '>', Carbon::now())
            ->where('is_internal', false)
            ->where('show_on_timeline', false)
            ->whereNotIn('id', $exhibitionIds)
            ->orderBy('start', 'asc')
            ->take(3)
            ->get();

$this['highlights'] = $highlights;


// Short-term events (exclude exhibitions and highlights)
$excludeIds = array_merge($exhibitionIds, $highlights->pluck('id')->toArray());

$this['all_records'] = Entry::whereNotIn('id', $excludeIds)
        ->where('is_internal', false)
        ->where('show_on_timeline', false)
        ->orderBy('start', 'asc')
        ->paginate(20);

$this['categories'] = Category::get();
$this['countries'] = Country::isEnabled()->get();

$this['slug'] = $this->param('slug');


}
?>
==
{% if not slug %}

{% if timeline_highlights.count %}
<div class="upcoming_events_container">
    <div class="container mb-0 pb-0">
        <div class="row nav-row">
            <div class="col-md-9 col-xs-12 start-md center-xs">
                <h1>{{ 'HIGHLIGHTS 2026'|_ }}</h1>
            </div>
            <div class="col-md-3 col-xs-12 view-all-button">
                <div class="tabs">
                     <a class="" href="#listView"></a>
                     <a class="" href="#calendarView"></a>
                 </div>
              </div>
        </div>
    </div>

    <div class="container home-container">
        <div class="row highligts-row">
            <div class="col-md-8 col-xs-12 latest-events">
                {% if timeline_highlights|length %}
                <div class="events-card">
                    <div class="img-container">
                        <a href="/{{currentLang}}/events/{{timeline_highlights[0].slug}}">
                            <img src="{{timeline_highlights[0].cover_image.thumb(868, 521,{'mode':'crop'})}}" alt="{{ timeline_highlights[0].title }}">
                        </a>
                        <a class="events-title" href="/{{currentLang}}/events/{{timeline_highlights[0].slug}}">
                            <div class="events-date">
                                {% if timeline_highlights[0].start|date("j") != timeline_highlights[0].end|date("j") %}{{timeline_highlights[0].start|date("j")}}-{{timeline_highlights[0].end|date("j")}}{% else %}{{timeline_highlights[0].start|date("j")}}{% endif %}
                                {{timeline_highlights[0].start|date("M Y")}}
                            </div>
                            <div class="title">
                                <h3>{{ timeline_highlights[0].title|raw}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-md-4 col-xs-12 highlight-events">
                {% for entry in timeline_highlights|slice(1, 2) %}
                <div class="row events-card">
                    <div class="img-container">
                        <a href="/{{currentLang}}/events/{{entry.slug}}">
                            <img src="{{entry.cover_image.thumb(426, 246,{'mode':'crop'})}}" alt="{{ entry.title }}">
                        </a>
                        <a class="events-title" href="/{{currentLang}}/events/{{entry.slug}}">
                            <div class="events-date">
                                {% if entry.start == '2026-09-25T09:07:29' %}{{ 'autumn'|_}} {{entry.start|date("Y")}}{% else %}
                                    {% if entry.start|date("j") != entry.end|date("j") %}{{entry.start|date("j")}}-{{entry.end|date("j")}}{% else %}{{entry.start|date("j")}}{% endif %}
                                    {{entry.start|date("M Y")}}
                                {% endif %}
                            </div>
                            <div class="title">
                                <h3>{{ entry.title|raw}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid events">

    <div class="container mb-0 pb-0">
        <div class="record-search mb-2">
            <div class="row">
                <div class="col-xs-12 search-field-container">
                    <div class="search-field">
                        <select multiple id="searchTerms" name="searchTerms">
                            <option value="">{{'Search' |_}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 filter-fields-container">
                    <div class="row between-md around-xs">
                        <div class="col-md-10 col-xs-12 start-md center-xs">
                            <div class="sort-field sort-dropdown">
                                <select id="sortTarget" name="sortTarget">
                                    <option value="0">{{'All target groups' |_}}</option>
                                    <option value="children">Children (0-16 y)</option>
                                    <option value="young">Young people (16-26 y)</option>
                                    <option value="general">General public/Civil society</option>
                                    <option value="elder">Elderly people (+65y)</option>
                                    <option value="entrepreneurs">Entrepreneurs/Businesses</option>
                                    <option value="policy">Policy makers</option>
                                    <option value="early career researchers">Early career researchers</option>
                                    <option value="all researchers">All researchers</option>
                                </select>
                            </div>
                            <div class="sort-field sort-dropdown">
                                <select id="sortTheme" name="sortTheme">
                                    <option value="0">{{'All thematic focuses' |_}}</option>
                                    <option value="sea">Sea and water</option>
                                    <option value="europe">Europe</option>
                                    <option value="sustainability">Sustainability</option>
                                    <option value="cultural">Cultural Heritage</option>
                                    <option value="health">Health and well-being</option>
                                    <option value="talents">Talents</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>

                            <div class="sort-field sort-dropdown">
                                <select id="sortCountry" name="sortCountry">
                                    <option value="0">{{'All countries' |_}}</option>
                                    {% for country in countries %}
                                    <option value="{{country.id}}">{{country.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="sort-field sort-dropdown">
                                <select id="sortCategory" name="sortCategory">
                                    <option value="0">{{'All categories' |_}}</option>
                                    {% for category in categories %}
                                    <option value="{{category.id}}">{{category.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="sort-field">
                                <input
                                    type="text"
                                    class="datepicker-input"
                                    id="dateFrom"
                                    name="dateFrom"
                                    placeholder="YYYY-MM-DD">
                                -
                                <input
                                    type="text"
                                    class="datepicker-input"
                                    id="dateTo"
                                    name="dateTo"
                                    placeholder="YYYY-MM-DD">
                            </div>

                        </div>

                        <div class="col-md-2 col-xs-12 end-md center-xs">
                            <div class="clear-filter">
                                <a id="clearFilter" href="javascript:void(0);">{{'Clear filters' |_}}</a>
                            </div>
                            <div class="apply-filter">
                                <a id="applyFilter" class="btn btn-primary">{{'Apply filter' |_}}</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="row nav-row">
            <div class="col-md-9 col-xs-12 start-md center-xs">
                <h1>{{'COMING SOON'|_}}</h1>
            </div>
            <div class="col-md-3 col-xs-12 view-all-button">
              <div class="tabs">
                   <a class="" href="#listView"></a>
                   <a class="" href="#calendarView"></a>
               </div>
            </div>
        </div>
    </div>


    <div class="container events_container two-column-layout">
        <div class="row" id="listView">
            <!-- Left Column: Short-Term Events -->
            <div class="col-md-8 col-xs-12 short-term-column">
                <h2>{{'SHORT-TERMED EVENTS'|_}}</h2>
                <div id="recordsContainer">
                    {% partial 'events-short-term' records=all_records %}
                </div>
            </div>

            <!-- Right Column: Ongoing Events -->
            <div class="col-md-4 col-xs-12 ongoing-column">
                <h2>{{'ONGOING EVENTS'|_}}</h2>
                {% partial 'events-ongoing' exhibitions=exhibitions %}
            </div>
        </div>
    </div>

</div>


{% else %}

    {% if entry %}

<main class="container single-news-item" role="main">
    <div class="row">
        <div class="col-xs-12">
            <div class="news-date">

            {% if entry.start == '2026-09-25T09:07:29' %} autumn {{entry.start|date("Y")}} {% else %}
                {% if entry.start|date("Y") == entry.end|date("Y") %}
                    {% if entry.start|date("M") == entry.end|date("M") %}
                        {% if entry.start|date("j") == entry.end|date("j") %}
                            {{entry.start|date("j M Y")}}
                        {% else %}
                            {{entry.start|date("j")}} - {{entry.end|date("j M Y")}}
                        {% endif %}
                    {% else %}
                        {{entry.start|date("j M")}} - {{entry.end|date("j M Y")}}
                    {% endif %}
                {% else %}
                    {{entry.start|date("j M Y")}} - {{entry.end|date("j M Y")}}
                {% endif %}

                                   <!-- {% if entry.start|date("j") != entry.end|date("j") %} {{entry.start|date("j")}}-{{entry.end|date("j")}}{% else %}{{entry.start|date("j")}}{% endif %}


                                {{entry.start|date("M Y")}}-->


                                {% endif %}



            <br><br>{{entry.place}}
            <br><br>{{entry.institution}}
            </div>
        </div>
        <div class="col-xs-12 news-title">
            <h1 class="single-new-title">{{entry.title}}</h1>
        </div>
        <div class="col-xs-12">
            {% if entry.cover_image %}
            <img src="{{ entry.cover_image|crop_image|resize(743, auto, { mode: 'crop' }) }}" class="article_cover" />
            {% endif %}
        </div>


        <div class="col-xs-12">
            <div class="content">
                {{entry.description|raw}}


                {% if entry.url %}
                <a href="{{entry.url}}" class="btn btn-primary" target="_blank" aria-label="Opens the event website in new tab">{{ 'Go to event website'|_ }}</a>
                {% endif %}

            </div>

            <div class="row middle-xs">
                <div class="col-xs col-md start-md center-xs share_container">
                    <span class="share_label">{{'Share'|_}}</span>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{page_url}}" target="_blank" class="pr p-linkedin normal"></a>
                    <a href="https://bsky.app/intent/compose?text={{page_url}}" class="pr p-bluesky small"  target="_blank"></a>
                </div>
            </div>

        </div>
    </div>
</main>



    {% endif %}

{% endif %}
