url = "/"
layout = "default"
title = "Science comes to town"
is_hidden = 0
meta_title = "Science comes to town"
meta_description = "Welcome to Science comes to town"
robot_index = "index"
robot_follow = "follow"

[jumbotron intro]
jumbotron = "homepage-intro-1"
title = 0
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron kiel]
jumbotron = "kiel-where-science-sets-sail"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron brest]
jumbotron = "brest-atlantic-city-innovation"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron split]
jumbotron = "split-coastal-crossroads-knowledge"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron strarting]
jumbotron = "programme-2026"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Calendar\Models\Entry;
use Spatie\GoogleCalendar\Event;
use Carbon\Carbon;

function onStart(){
    $this['entries'] = Entry::where('end', '>', Carbon::now())->where('show_on_timeline', true)->where('is_internal', false)->orderBy('start', 'asc')->take(3)->get();
    $this['google_calendar_events'] = Event::get();
}
?>
==
<div class="container intro">
    <div class="row between-md around-xs">
        <div class="col-md-12 col-xs-12">
            <div class="intro_icons">
                <div class="molecule"></div>
                <div class="atom"></div>
                <div class="bacteria"></div>
            </div>
            {% component 'intro' %}
        </div>
    </div>
</div>

<div class="container main_towns">
    <div class="row between-md around-xs">
        <div class="col-md-4 col-xs-12">
            <div class="town_item">
                <img src="{{'KIEL.png'|media}}" alt="Kiel">
                <h2 data-aos="fade-up">Kiel</h2>
                <div class="overlay">
                    <div class="text">{% component 'kiel' %}</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="town_item">
                <img src="{{'BREST.png'|media}}" alt="Brest">
                <h2 data-aos="fade-up">Brest</h2>
                <div class="overlay">
                    <div class="text">{% component 'brest' %}</div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="town_item">
                <img src="{{'SPLIT.png'|media}}" alt="Split">
                <h2 data-aos="fade-up">Split</h2>
                <div class="overlay">
                    <div class="text">{% component 'split' %}</div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- waves-->
<div class="container-fluid waves">
    <div class="ocean">
        <div class="wave pink"></div>
        <div class="wave green"></div>
        <div class="wave blue"></div>
    </div>
</div>





<div class="container strarting">
    <div class="row between-md around-xs">
        <div class="col-md-4 col-xs12 col-xs-12 start-md center-xs title_and_btn">
            <h1>Starting 2026</h1>
            <a href="/coming-soon" class="btn btn-primary">About us</a>
        </div>
        <div class="col-md-8 col-xs12 col-xs-12">
            {% component 'strarting' %}
        </div>
    </div>
</div>

<div class="container-fluid numbers2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="number_item_image"></div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="number_item_number pink">
                    <h1><span class="count">1000</span>+</h1>
                    <div class="label">Engaging activities</div>
                </div>

                <div class="number_item_number green">
                    <h1><span class="count">70</span>+</h1>
                    <div class="label">Committed partners</div>
                </div>

                <div class="number_item_number blue">
                    <h1><span class="count">365</span>+</h1>
                    <div class="label">Days programme</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid towns_uppercase_labels">
    <div class="label_item">
        <span class="blue">KIEL</span>
        <span class="green">BREST</span>
        <span class="pink">SPLIT</span>
        <span class="blue">KIEL</span>
        <span class="green">BREST</span>
        <span class="pink">SPLIT</span>
        <span class="blue">KIEL</span>
        <span class="green">BREST</span>
        <span class="pink">SPLIT</span>
        <span class="blue">KIEL</span>
        <span class="green">BREST</span>
        <span class="pink">SPLIT</span>
    </div>
</div>


<!--upcoming events-->
{% if entries.count %}
<div class="upcoming_events_container">
    <div class="container mb-0 pb-0">
        <div class="row nav-row">
            <div class="col-md-9 col-xs-12 start-md center-xs">
                <h1>HIGHLIGHTS 2026</h1>
            </div>
            <div class="col-md-3 col-xs-12 view-all-button">
                <a href="/coming-soon" class="btn btn-primary">All events</a>
            </div>
        </div>
    </div>

    <div class="container home-container">
        <div class="row highligts-row">
            <div class="col-md-8 col-xs-12 latest-events">
                {% if entries|length %}
                <div class="events-card">
                    <div class="img-container">
                        <a href="/coming-soon">
                            <img src="{{ entries[0].cover_image.path }}" alt="{{ entries[0].title }}">
                        </a>

                        <a class="events-title" href="/coming-soon">
                            <div class="events-date">
                                {% if entries[0].start|date("j") != entries[0].end|date("j") %} {{entries[0].start|date("j")}}-{{entries[0].end|date("j")}}{% else %}{{entries[0].start|date("j")}}{% endif %}
                                {{entries[0].start|date("M")}}
                            </div>
                            <div class="title">
                                <h3>{{ entries[0].title|raw}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-md-4 col-xs-12 highlight-events">
                {% for event in entries|slice(1, 2) %}
                <div class="row events-card">
                    <div class="img-container">
                        <a href="/coming-soon">
                            <img src="{{ event.cover_image.path }}" alt="{{ event.title }}">
                        </a>

                        <a class="events-title" href="/coming-soon">
                            <div class="events-date">
                                {% if event.start|date("j") != event.end|date("j") %} {{event.start|date("j")}}-{{event.end|date("j")}}{% else %}{{event.start|date("j")}}{% endif %}
                                {{event.start|date("M")}}
                            </div>
                            <div class="title">
                                <h3>{{ event.title|raw}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}