url = "/partners"
layout = "default"
title = "Partners"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "about.jpg"
==
<?php
use Pensoft\Partners\Models\Partners;

function onStart(){
	$this['all_partners'] =  Partners::where('type', 1)->get();
	$this['croatian_partners'] =  Partners::whereRaw('country_code ILIKE \'%HR%\'')->where('type', 1)->get();
	$this['french_partners'] =  Partners::whereRaw('country_code ILIKE \'%FR%\'')->where('type', 1)->get();
	$this['german_partners'] =  Partners::whereRaw('country_code ILIKE \'%DE%\'')->where('type', 1)->get();
	$this['international_partners'] =  Partners::whereRaw('country_code NOT ILIKE \'%DE%\' AND country_code NOT ILIKE \'%FR%\' AND country_code NOT ILIKE \'%HR%\'')->where('type', 1)->get();
}
?>
==

<div class="container">
    <div class="tabs">
        <a class="" href="#all">All partners</a>
        <a class="" href="#croatian">Croatian partners</a>
        <a class="" href="#french">French partners</a>
        <a class="" href="#german">German partners</a>
        <a class="" href="#international">International partners</a>
    </div>
</div>

<div class="container partners_list">

    <div class="row" id="all">
        {% for k, partner in all_partners %}
            <div class="col-md-6 col-xs-12">
                <div class="partner-item key_{{k}}" data-aos="fade-up">
                    <div class="row middle-xs logo_and_link">
                        <div class="col-xs-10 col-md-10 partner_logo">
                            <img alt="{{ partner.instituion }}" src="{{partner.cover.path}}" role="presentation" alt="{{ partner.instituion }} logo">
                        </div>
                        <div class="col-xs-2 col-md-2 partner_flag">
                            <div class="flag"></div>
                        </div>

                        <div class="col-xs-12 col-md-12 partner_title">
                            <h4>{{partner.instituion}}</h4>
                        </div>
                        <div class="col-xs-12 partner_description">
                            <div class="partner_content">
                                {{partner.content|raw}}
                                <a href="{{partner.instituion_url}}" target="_blank" aria-label="Visit {{partner.instituion_url}}">Visit website</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row" id="croatian">
        {% for k, partner in croatian_partners %}
        <div class="col-md-6 col-xs-12">
            <div class="partner-item key_{{k}}" data-aos="fade-up">
                <div class="row middle-xs logo_and_link">
                    <div class="col-xs-10 col-md-10 partner_logo">
                        <img alt="{{ partner.instituion }}" src="{{partner.cover.path}}" role="presentation" alt="{{ partner.instituion }} logo">
                    </div>
                    <div class="col-xs-2 col-md-2 partner_flag">
                        <div class="flag"></div>
                    </div>

                    <div class="col-xs-12 col-md-12 partner_title">
                        <h4>{{partner.instituion}}</h4>
                    </div>
                    <div class="col-xs-12 partner_description">
                        <div class="partner_content">
                            {{partner.content|raw}}
                            <a href="{{partner.instituion_url}}" target="_blank" aria-label="Visit {{partner.instituion_url}}">Visit website</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row" id="german">
        {% for k, partner in german_partners %}
        <div class="col-md-6 col-xs-12">
            <div class="partner-item key_{{k}}" data-aos="fade-up">
                <div class="row middle-xs logo_and_link">
                    <div class="col-xs-10 col-md-10 partner_logo">
                        <img alt="{{ partner.instituion }}" src="{{partner.cover.path}}" role="presentation" alt="{{ partner.instituion }} logo">
                    </div>
                    <div class="col-xs-2 col-md-2 partner_flag">
                        <div class="flag"></div>
                    </div>

                    <div class="col-xs-12 col-md-12 partner_title">
                        <h4>{{partner.instituion}}</h4>
                    </div>
                    <div class="col-xs-12 partner_description">
                        <div class="partner_content">
                            {{partner.content|raw}}
                            <a href="{{partner.instituion_url}}" target="_blank" aria-label="Visit {{partner.instituion_url}}">Visit website</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row" id="french">
        {% for k, partner in french_partners %}
        <div class="col-md-6 col-xs-12">
            <div class="partner-item key_{{k}}" data-aos="fade-up">
                <div class="row middle-xs logo_and_link">
                    <div class="col-xs-10 col-md-10 partner_logo">
                        <img alt="{{ partner.instituion }}" src="{{partner.cover.path}}" role="presentation" alt="{{ partner.instituion }} logo">
                    </div>
                    <div class="col-xs-2 col-md-2 partner_flag">
                        <div class="flag"></div>
                    </div>

                    <div class="col-xs-12 col-md-12 partner_title">
                        <h4>{{partner.instituion}}</h4>
                    </div>
                    <div class="col-xs-12 partner_description">
                        <div class="partner_content">
                            {{partner.content|raw}}
                            <a href="{{partner.instituion_url}}" target="_blank" aria-label="Visit {{partner.instituion_url}}">Visit website</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row" id="international">
        {% for k, partner in international_partners %}
        <div class="col-md-6 col-xs-12">
            <div class="partner-item key_{{k}}" data-aos="fade-up">
                <div class="row middle-xs logo_and_link">
                    <div class="col-xs-10 col-md-10 partner_logo">
                        <img alt="{{ partner.instituion }}" src="{{partner.cover.path}}" role="presentation" alt="{{ partner.instituion }} logo">
                    </div>
                    <div class="col-xs-2 col-md-2 partner_flag">
                        <div class="flag"></div>
                    </div>

                    <div class="col-xs-12 col-md-12 partner_title">
                        <h4>{{partner.instituion}}</h4>
                    </div>
                    <div class="col-xs-12 partner_description">
                        <div class="partner_content">
                            {{partner.content|raw}}
                            <a href="{{partner.instituion_url}}" target="_blank" aria-label="Visit {{partner.instituion_url}}">Visit website</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>
