//.jumbotron {
//    position: absolute;
//    z-index: 100;
//
//    .breakpoint-large-down({
//        padding-top: 95px;
//    });
//}


.intro{
    text-align: center;
    color: @primary-color;
    padding-bottom: 0;
    .container{
        padding-bottom: 0;
    }
    p{
        font: normal normal 300 30px/42px Inter;
    }

    .intro_icons{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .molecule{
            width: 56px;
            height: 56px;
            transform: matrix(0.99, -0.16, 0.16, 0.99, 0, 0);
            /* UI Properties */
            background: #FFECF8 url("../../assets/images/molecules.svg") center no-repeat;
            background-size: 60%;
            border-radius: 10px;
            margin: 10px 0 0 0;
        }

        .atom{
            width: 56px;
            height: 56px;
            /* UI Properties */
            background: #E5F5D9 url("../../assets/images/atom.svg") center no-repeat;
            background-size: 60%;
            border-radius: 10px;
            margin: 0 10px;
        }

        .bacteria{
            width: 56px;
            height: 56px;
            transform: matrix(0.99, 0.16, -0.16, 0.99, 0, 0);
            /* UI Properties */
            background: #E9EFFF url("../../assets/images/bacteria.svg") center no-repeat;
            background-size: 60%;
            border-radius: 10px;
            opacity: 1;
            margin: 10px 0 0 0;
        }
    }
}

.main_towns{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;


    .town_item{
        position: relative;
        transition: all 0.5s ease-in-out;
        img{
            position: relative;
            border-radius: 39px;
            width: 100%;
            object-fit: cover;
            display: block;
            height: auto;
        }
        h2{
            position: absolute;
            bottom: 0;
            font-size: 120px;
            font-family: Staatliches;
            line-height: 1em;
            margin-bottom: -21px;
            color: #FFFFFF;
            width: 100%;
            text-align: center;
            //transform: translateX(50%);
            //transition: all 0.1s ease-in-out;
            //visibility: visible;
        }

        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
            //transform: matrix(-1, 0, 0, -1, 0, 0);
            /* UI Properties */
            background: linear-gradient(-180deg, #05133A 0%, #3268FF 100%) 0% 0% no-repeat padding-box;
            border-radius: 39px;
            opacity: 0.74;

            .text {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 0;
                left: 0;
                padding: 25px;
                display: flex;
                align-items: flex-end;
                justify-content: end;
                height: 90%;
                p{
                    color: white;
                }
                h1{
                    color: white;
                }

                .container{
                    padding: 0;
                }
            }
        }



        &:hover .overlay {
            height: 100%;
        }

        &:hover h2 {
            //visibility: hidden;
            display: none;
        }

    }

}


.strarting{
    .container{
        padding: 0;

        p{
            font: normal normal 300 18px/30px Inter;
            margin-bottom: 0;
        }
    }
}


.numbers{
    position: relative;

    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #3268FF;
        opacity: 0.44;
        display: flex;
        top: 0;
        z-index: -1;
    }


    .container{
        padding: 87px 0;
    }

    .title_and_btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1{
        font-size: 59px;
        span{
            color: @pink-color;
        }
    }

    .label{
        font-size: 13px;
        color: #7D7D7D;
    }

    .number_item_number{
        width: 272px;
        height: 135px;
        /* UI Properties */
        background: #F5F7FE;
        border-radius: 20px;
        padding: 38px 33px 18px 33px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .row{
        &:nth-of-type(1){
            .number_item_image{
                background: url("../../assets/images/num.jpg") center no-repeat;
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: contain;
                opacity: 1;
            }
        }
        &:nth-of-type(2){
            .number_item_image{
                background: url("../../assets/images/num.jpg") center no-repeat;
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: contain;
                opacity: 1;
            }
        }
        &:nth-of-type(3){
            .number_item_image{
                background: url("../../assets/images/num.jpg") center no-repeat;
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: contain;
                opacity: 1;
            }
        }
    }
}

.towns_uppercase_labels{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 300px;

    .breakpoint-large-down({
        flex-direction: column;
        max-width: 100%;
        min-height: fit-content;
        display: flex;
    });

    .label_item{
        font-size: 240px;
        font-family: Staatliches;
        letter-spacing: 0px;
        opacity: 0.08;

        .breakpoint-large-down({
            min-height: 200px;
            font-size: 43vw;
        });

        &.green{
            color: @green-color;
        }
        &.pink{
            color: @pink-color;
        }
        &.blue{
            color: @blue-color;
        }
    }
}

/* carousel */

/* bootstrap 3 multi-col carousel */
#slick {
    display: none;

    &.slick-initialized {
        display: block;
        max-width: 100%;
        margin: 0 auto 80px auto;
        position: relative;
    }

    /* .slick-list emulates .row */
    .slick-list {
        //margin-left: -15px;
        //margin-right: -15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .slick-track{
        display: flex;
    }

    /* .slick-slide emulates .col- */
    .slick-slide {
        cursor: initial;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 261px;
        margin: 0 10px;
        //background: @secondary-color;
        border-radius: 10px;
        width: 261px;
        height: 143px;
        .breakpoint-large-down({
            width: 100%!important;
        });

        &:focus {
            outline: none;
        }
    }

    /* slick arrows */
    .slick-arrow {
        border: none;
        color: transparent;
        display: none!important;

        &:hover {
            opacity: 1;
        }

        &.slick-prev {
            background: url("../../assets/images/arrows-news.svg") center no-repeat;
            background-size: 42px;
            width: 42px;
            height: 42px;
            position: absolute;
            left: 18px;
            top: 45px;
            z-index: 10;
            &:hover{
                background: url("../../assets/images/arrows-news-hover.svg") center no-repeat;
                background-size: 42px;
            }
        }

        &.slick-next {
            background: url("../../assets/images/arrows-news.svg") center no-repeat;
            background-size: 42px;
            width: 42px;
            height: 42px;
            position: absolute;
            right: 18px;
            top: 45px;
            z-index: 10;
            transform: rotate(180deg);
            &:hover{
                background: url("../../assets/images/arrows-news-hover.svg") center no-repeat;
                background-size: 42px;
            }

        }
        .breakpoint-large-down({
            display: none!important;
        });
    }

    /* slick dots */
    .slick-dots {
        text-align: center;
        li {
            display: inline-block;
            margin: 0 5px;
            button {
                cursor: pointer;
                border: 0;
                background: transparent;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                padding: 0;
                color: transparent;
                font-size: 0;
                line-height: 0;

                &:hover, &:focus {
                    outline: none;
                    background-color: @white-color;
                    opacity: 1;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 10px;
                    height: 10px;
                    background-color: @link-color;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    transition: background-color .25s ease;
                }
            }

            &.slick-active button:before {
                background-color: @link-color;
            }

            &.slick-active button {
                box-shadow: 0 0 0 2px @link-color;
            }
        }
    }
}

